<h1>Basic Login With Sails</h1>

    <% if (req.session.me) { %>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a> | <a href="/signup">Signup</a>
    <% } %>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
