<% include ../layout/head %>

<h1>Signup</h1>
<form action="/signup" method="post">

  <label for="name">Your name: </label>
  <input name="name" type="text"/>
  <br/>

  <label for="email">Your email: </label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Your password: </label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit" value="Sign up" />
</form>

    <span>Already a user? </span> <a href="/login">Log in</a>

<% include ../layout/footer %>