    
<!--
    Footer 
-->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
